.productList {
    margin-top: 100px;
}
.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 10px;
    margin-top: 50px;
}
.divider {
    border-top: 3px solid var(--color-black);
}