.productList {
    margin-top: 100px;
}
.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 10px;
    margin-top: 50px;
}
.divider {
    border-top: 3px solid var(--color-black);
}


// 미디어쿼리
@import '../../../styles/mixin';

@include mobile {
    .productList {
        margin: 0 auto;
    }
}
@include tablet {
    .productList {
        margin: 0 auto;
    }
}