.pagination {
    list-style: none;
    margin-top: 1rem;
    padding-top: 1rem;
    // border-top: 1px solid var(--border-gray);
    display: flex;
    justify-content: center;
    align-items: center;

    .hidden {
        display: none;
    }
    li {
        font-size: 1.4rem;
        border: 1px solid var(--border-gray);
        min-width: 3rem;
        height: 3rem;
        padding: 3px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        margin: 0 4px;
    }
    p {
        margin-left: 1rem;

        .page {
            color: var(--color-primary);    
        }
    }
}

.active {
    border: 1px solid var(--color-primary) !important;
    color: var(--color-primary);
}