.table {
    padding: 5px;
    width: 100%;
    overflow-x: auto;

    .search {
        width: 100%;
        max-width: 300px;
    }
    table {
        border-collapse: collapse;
        width: 100%;
        font-size: 1.4rem;

        thead {
            border-top: 2px solid var(--light-blue);
            border-bottom: 2px solid var(--light-blue);
        }
        th {
            border: 1px solid var(--table-border-gray);
            padding: 8px;
            text-align: left;
            text-wrap: nowrap;

            &:nth-child(1) {
                max-width: 50px;
            }
            &:nth-child(3) {
                width: 600px;
            }
        }
        td {
            text-align: left;
            padding: 8px;
            height: 100px;

            &.icons {
                margin-right: 5px;
                cursor: pointer;
            }
            .imgwrap {
                max-width: 80px;
            }
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        tr {
            border-bottom: 1px solid var(--border-gray);
        }
        tr:nth-child(even) {
            background-color: var(--table-border-gray);
        }
    }
}