.title {
    display: inline-block;
    width: 100%;
    border-bottom: 1px solid var(--border-gray);
    margin-bottom: 50px;

    .search {
        width: 100%;
        max-width: 300px;
    }
}

.table {
    width: 100%;
    max-width: 936px;
    margin: 0 auto;
    border-radius: 10px;
    background-color: var(--color-white);
    box-shadow: 0 1px 2px 0 rgba(105, 105, 105, 0.301),0 1px 3px 1px rgba(85, 85, 85, 0.2);
    padding: 2rem 3rem;

    table {
        border-collapse: collapse;
        width: 100%;
        font-size: 1.4rem;

        
        overflow: hidden;

        thead {
            th {
                text-align: center;
            }
        }
        th {
            // border: 1px solid var(--table-border-gray);
            padding: 8px;
            text-align: center;
            text-wrap: nowrap;
            font-weight: 400;

            &:nth-child(1) {
                width: 5%;
            }
            &:nth-child(2) {
                width: 20%;
            }
            &:nth-child(3) {
                width: 40%;
                // text-align: left;
            }
            &:nth-child(4) {
                width: 10%;
            }
            &:nth-child(5) {
                width: 15%;
            }
            &:nth-child(6) {
                width: 10%;
            }
        }
        td {
            text-align: center;
            padding: 8px;
            height: 100px;

            &.icons {
                margin-right: 5px;
                cursor: pointer;
            }
            .imgwrap {
                max-width: 80px;
                margin: 0 auto;
            }
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
            &:nth-child(3) {
                text-align: left;
            }
        }
        tr {
            border-bottom: 1px solid var(--border-gray);
        }
    }
}