.slider {
    width: 100%;
    max-width: 1640px;
    margin: 0 auto;
    margin-top: 100px;
    margin-bottom: 100px;
    padding: 0 2.5rem;

    overflow: hidden;

    .heading {
        color: #000;
        
        .title {
            font-size: 2.5rem;
            font-weight: 600;
        }
        .subtitle {
            font-size: 1.4rem;
            padding-bottom: 20px;
        }
    }
}
.container {
    margin-top: 30px;
}
.item {
    min-width: 157px;

    .thumb {
        background-color: #ccc;    
        height: 200px;
        
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .info {
        position: relative;
        margin-top: 12px;
        overflow-wrap: break-word;
        word-break: keep-all;
        white-space: normal;

        .brand {
            display: -webkit-box;
            -webkit-line-clamp: 1;
            -webkit-box-orient: vertical;
            text-overflow: ellipsis;
            overflow: hidden;

            font-size: 1.2rem;
            margin-bottom: 3px;
        }
        .name {
            font-size: 1.2rem;
            max-height: 37px;
            margin-bottom: 3px;
            font-weight: 300;
            color: rgb(86, 86, 86);
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            text-overflow: ellipsis;
            overflow: hidden;
        }
        .priceBox {
            margin-bottom: 8px;
            
            .originPrice {
                font-size: 12px;
                font-weight: 300;
                color: rgb(137, 137, 137);
                text-decoration-line: line-through;
                margin-bottom: 1px;
            }
            .salePrice {
                display: flex;
                flex-direction: row-reverse;
                flex-wrap: wrap;
                justify-content: flex-end;

                .discount {
                    font-size: 15px;
                    font-weight: 700;
                    color: var(--color-red);
                }
                .totalPrice {
                    font-size: 15px;
                    font-weight: 700;
                    color: rgb(86, 86, 86);
                    margin-right: 10px;
                }
            }
        }
    }
}


// 미디어쿼리
@import '../../../styles/mixin';

@include mobile {
    .slider {
        margin-top: 50px;
        margin-bottom: 50px;

        .heading {
            .title {
                font-size: 2rem;
            }
            .subtitle {
                font-size: 1.2rem;
            }
        }
    }
    .container {
        margin-top: 0;
    }
    .item {
        .thumb {
            height: auto;
        }
        .info {
            .name {
                font-size: 1.1rem;
            }
            .priceBox {
                .originPrice {
                    font-size: 10px;
                }
                .salePrice {
                    .totalPrice {
                        font-size: 14px;
                    }
                    .discount {
                        font-size: 14px;
                    }
                }
            }
        }
    }
}