.charts {
    width: 100%;
    background-color: #fff;
    
    h3 {
        display: inline-block;
        margin-left: 5px;
        color: #777777;
        font-size: 1.4rem;
        font-weight: 400;
    }
    .card {
        padding: 3rem;
        border-radius: 10px;
        box-shadow: 0 1px 2px 0 rgba(105, 105, 105, 0.301),0 1px 3px 1px rgba(85, 85, 85, 0.2);
    }
}