.checkout {
    max-width: 1020px;
    margin: 3rem auto;
    
    .card {
        width: 100%;
        padding: 1rem;

        h3 {
            font-weight: bold;
            font-size: 1.4rem;
            margin: 1rem 0;
        }
    }
    form {
        width: 100%;

        .flex {
            display: flex;
        }
        label {
          display: block;
          font-size: 1.4rem;
          font-weight: 500;
        }
        input[type="text"] {
          display: block;
          font-size: 1.6rem;
          font-weight: 300;
          padding: 1rem;
          margin: 1rem auto;
          width: 100%;
          border: 1px solid var(--border-gray);
          border-radius: 3px;
          outline: none;
        }
        .btnBox {
            padding: 1rem;

            button {
                width: 100%;
            }
        }
    }
}