.button {
    cursor: pointer;
    box-sizing: border-box;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border: 0;
    border-radius: 5px;
    padding: 1.2rem 3rem;
    // box-shadow: var(--box-shadow);

    &[disabled] {
        cursor: not-allowed;
    }
}

.primary {
    background: var(--color-primary);
    color: var(--color-white);

    &[disabled] {
        background: var(--dark-gray);
        color: var(--light-gray);
    }
}

.secondary {
    background: var(--color-white);
    color: var(--color-black);
    border: 1px solid #cacacb;
    
    &[disabled] {
        background: var(--light-gray);
        color: var(--dark-gray);
    }
}