.title {
    display: inline-block;
    width: 100%;
    border-bottom: 1px solid var(--border-gray);
    margin-bottom: 50px;
}
.table {
    padding: 5px;
    max-width: 936px;
    margin: 0 auto;
    border-radius: 10px;
    background-color: var(--color-white);
    box-shadow: 0 1px 2px 0 rgba(105, 105, 105, 0.301),0 1px 3px 1px rgba(85, 85, 85, 0.2);
    padding: 2rem 3rem;

    .details {
        font-size: 1.3rem;
        padding: 1rem 0;
        line-height: 1.7;
        margin-bottom: 15px;

        b {
            margin-right: 10px;
        }
    }
    table {
        border-collapse: collapse;
        width: 100%;
        font-size: 1.4rem;

        thead {
            border-top: 1px solid var(--color-black);
            border-bottom: 1px solid var(--border-gray);
            width: 100%;
            height: 50px;
            font-size: 1.2rem;
            
            th {
                font-weight: normal;
                padding: 8px;
                text-wrap: nowrap;
                text-align: left;

                &:nth-child(2) {
                    text-align: center;
                }
            }
        }
        tbody {
            font-size: 1.2rem;

            tr {
                border-bottom: 1px solid var(--light-gray);
            }
            td {
                padding: 8px;
            }
            .cell_pd {
                display: flex;
                flex-direction: row-reverse;
                justify-content: space-around;
                align-items: center;

                .name {
                    width: 280px;
                    text-align: left;
                    overflow-wrap: break-word;
                    
                    p + p {
                        margin-top: 5px;
                    }
                }
                .img {
                    width: 80px;
                    height: 120px;
                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
            }
        }
    }

}