.page {
    height: 100vh;
    display: grid;
    place-items: center;

    .container {
        .form {
            display: flex;
            flex-flow: column;
            border: 1px solid #ccc;
            padding: 2rem;
            box-shadow: var(--box-shadow);

            .control {
                margin-bottom: 20px;
            }
            .links {
                margin-top: 10px;
                font-size: 1.3rem;
                line-height: 2rem;
            }
        }
    }

}