.filter {
    .title {
        position: relative;
        height: 100px;

        h3 {
            display: inline-block;
            position: absolute;
            bottom: 30px;
        }
        span {
            position: absolute;
            bottom: 35px;
            font-size: 1.4rem;
            font-weight: 300;
            left: 80px;
        }
    }
    .wrap {
        padding: 30px 0;
    }

    h3 {
        font-size: 3rem;
        font-weight: 500;
    }
    h4 {
        font-size: 1.6rem;
        margin-bottom: 1rem;
    }
    
    .divider {
        border-top: 3px solid var(--color-black);
    }

    .sort {
        display: flex;
        flex-direction: column;
        list-style: none;
        min-height: 80px;
        gap: 10px;
        
        label {
            display: block;
            width: 100%;
            font-size: 1.4rem;
            font-weight: 300;
            color: var(--dark-gray);
            cursor: pointer;
        }
        input[type="radio"] {
            position: absolute;
            visibility: hidden;
            width: 0;
            height: 0;
            margin: 0;
            padding: 0;
        }
        .selected {
            label {
                color: var(--color-primary);
                font-weight: bold;
            }
        }
        .selected::before {
            content: '';
            background-image: url('../../../assets/icon_check.png');
            background-size: 12px;
            background-repeat: no-repeat;
            overflow: hidden;
            display: block;
            width: 12px;
            height: 10px;
            margin-top: 7px;
            float: right;
        }
    }
    .category {
        min-height: 120px;

        button {
            display: block;
            text-align: left;
            width: 100%;
            font-size: 1.4rem;
            border: none;
            background-color: transparent;
            color: var(--dark-gray);
            cursor: pointer;
        }
    }
    button+button {
        margin-top: 10px;
    }
    .price {
        input[type="range"] {
            width: 100%;
            // height: 30px;
            -webkit-appearance: none;
            margin: 10px 0;
            border-radius: 10px;
            background: transparent;
            overflow: hidden;
        }
        input[type="range"]::-webkit-slider-runnable-track {
            width: 100%;
            height: 100%;
            border-radius: 10px;
            border: 1px solid var(--light-gray);
            // background-color: #eeeeee;
            cursor: pointer;
        }        
        input[type="range"]::-webkit-slider-thumb {
            width: 15px;
            height: 15px;
            -webkit-appearance: none;
            border-radius: 50%;
            background: var(--color-primary);
            box-shadow: -100.5vw 0 0 100vw #ccc;
            cursor: pointer;
        }
    }
}

.active {
    position: relative;
    font-weight: bold;
    color: var(--color-primary) !important;
}
.active::before {
    content: '';
    background-image: url('../../../assets/icon_check.png');
    background-size: 12px;
    background-repeat: no-repeat;
    overflow: hidden;
    display: block;
    width: 12px;
    height: 10px;
    margin-top: 7px;
    float: right;
}

// 미디어쿼리
@import '../../../styles/mixin';

@include mobile {
    .filter {
        .title {
            // display: none;
        }
        .wrap {
            padding: 1rem 0;

            h4 {
                display: none;
            }
        }
        .catWrap {
            float: left;
        }
        .sortWrap {
            float: right;
        }
        .priceWrap {
            float: left;
            display: flex;
            width: 100%;
            // gap: 20px;
            justify-content: space-between;
            align-items: center;
            flex-direction: row;

            h4 {
                display: block;
                margin-bottom: 0;
                font-size: 1.2rem;
            }
            p {
                flex: auto;
                margin-left: 20px;
                width: 120px;
            }
            .price {
                // padding-left: 80px;
                min-width: 250px;
            }
        }
        .category {
            display: flex;
            flex-direction: row;
            width: 150px;
            min-height: auto;

            button {
                height: 31px;
            }
        }
        button+button {
            margin-top: auto;
        }
        .sort {
            flex-direction: row;
            min-height: auto;
            gap: 5px;
            .selected::before {
                display: none;
            }

            li {
                border: 1px solid #ccc;
                width: 65px;
                height: 30px;
                text-align: center;
                line-height: 2;
                border-radius: 30px;
            }
            label {
                font-size: 1.2rem;
            }
        }
        .divider {
            border-top: 1px solid var(--color-black);
        }
        .clear {
            clear: both;
        }
    }
    .active::before {
        display: none;
    }
    .resetBtn {
        margin: 1rem 0;
        button {
            width: 143px;
            height: 38px;
            border-radius: 30px;
        }
    }
}
@include tablet {
    .filter {
        .title {
            // display: none;
        }
        .wrap {
            padding: 1rem 0;

            h4 {
                display: none;
            }
        }
        .catWrap {
            float: left;
        }
        .sortWrap {
            float: right;
        }
        .priceWrap {
            float: left;
            display: flex;
            gap: 20px;
            justify-content: flex-start;
            align-items: center;
            flex-direction: row-reverse;

            h4 {
                display: none;
                // display: block;
                // font-size: 1.4rem;
                // margin-bottom: 0;
            }
            .price {
                min-width: 250px;
            }
        }
        .category {
            display: flex;
            flex-direction: row;
            width: 240px;
            min-height: auto;

            button {
                height: 36px;
            }
        }
        button+button {
            margin-top: auto;
        }
        .sort {
            flex-direction: row;
            min-height: auto;
            .selected::before {
                display: none;
            }

            li {
                border: 1px solid #ccc;
                width: 78px;
                height: 35px;
                text-align: center;
                line-height: 2.3;
                border-radius: 30px;
            }
            label {
                font-size: 1.2rem;
            }
        }
        .divider {
            border-top: 1px solid var(--color-black);
        }
        .clear {
            clear: both;
        }
    }
    .active::before {
        display: none;
    }
    .resetBtn {
        float: right;
        margin: 1rem 0;
        button {
            width: 143px;
            height: 38px;
            border-radius: 30px;
        }
    }
}
@include desktop {
}
