.filter {
    .title {
        position: relative;
        height: 100px;

        h3 {
            display: inline-block;
            position: absolute;
            bottom: 30px;
        }
        span {
            position: absolute;
            bottom: 35px;
            font-size: 1.4rem;
            font-weight: 300;
            left: 80px;
        }
    }
    .wrap {
        padding: 30px 0;
    }

    h3 {
        font-size: 3rem;
        font-weight: 500;
    }
    h4 {
        font-size: 1.6rem;
        margin-bottom: 1rem;
    }
    
    .divider {
        border-top: 3px solid var(--color-black);
    }

    .sort {
        display: flex;
        flex-direction: column;
        list-style: none;
        min-height: 80px;
        gap: 10px;
        
        label {
            display: block;
            width: 100%;
            font-size: 1.4rem;
            font-weight: 300;
            color: var(--dark-gray);
            cursor: pointer;
        }
        input[type="radio"] {
            position: absolute;
            visibility: hidden;
            width: 0;
            height: 0;
            margin: 0;
            padding: 0;
        }
        .selected {
            label {
                color: var(--color-primary);
                font-weight: bold;
            }
        }
        .selected::before {
            content: '';
            background-image: url('../../../assets/icon_check.png');
            background-size: 12px;
            background-repeat: no-repeat;
            overflow: hidden;
            display: block;
            width: 12px;
            height: 10px;
            margin-top: 7px;
            float: right;
        }
    }
    .category {
        min-height: 120px;

        button {
            display: block;
            text-align: left;
            width: 100%;
            font-size: 1.4rem;
            border: none;
            background-color: transparent;
            color: var(--dark-gray);
            cursor: pointer;
        }
    }
    button+button {
        margin-top: 10px;
    }
    .price {
        input[type="range"] {
            width: 100%;
            // height: 30px;
            -webkit-appearance: none;
            margin: 10px 0;
            border-radius: 10px;
            background: transparent;
            overflow: hidden;
        }
        input[type="range"]::-webkit-slider-runnable-track {
            width: 100%;
            height: 100%;
            border-radius: 10px;
            border: 1px solid var(--light-gray);
            // background-color: #eeeeee;
            cursor: pointer;
        }        
        input[type="range"]::-webkit-slider-thumb {
            width: 15px;
            height: 15px;
            -webkit-appearance: none;
            border-radius: 50%;
            background: var(--color-primary);
            box-shadow: -100.5vw 0 0 100vw #ccc;
            cursor: pointer;
        }
    }
}

.active {
    position: relative;
    font-weight: bold;
    color: var(--color-primary) !important;
}
.active::before {
    content: '';
    background-image: url('../../../assets/icon_check.png');
    background-size: 12px;
    background-repeat: no-repeat;
    overflow: hidden;
    display: block;
    width: 12px;
    height: 10px;
    margin-top: 7px;
    float: right;
}