.reviewSlider {
  width: 1640px;
  margin: 0 auto;
  margin-top: 100px;
  margin-bottom: 100px;

  .heading {
    color: #000;
    margin-bottom: 30px;

    .title {
      font-size: 2.5rem;
      font-weight: 300;
      padding-bottom: 20px;
    }
    .subtitle {
      font-size: 1.4rem;
      padding-bottom: 20px;
    }
  }
  
  .content {
    display: flex;

    .imgwrap {
        figure {

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
    .textwrap {
        display: flex;
        flex-direction: column;
        
        .flex {
          display: flex;
          padding: 0px 8px;
          gap: 8px;
        }
        .text {
          padding: 0px 8px;
          gap: 8px;

        }
        
        img {
            width: 32px;
            height: 32px;
            object-fit: cover;
        }
        .info {
            display: flex;
            flex-direction: column;
            width: 100%;
            height: 100%;
        }
    }
  }
}