.product {
    max-width: 1400px;
    min-height: 1000px;
    margin: 0 auto;

    .wrapper {
        display: flex;
        margin-top: 60px;
    }
    
    .gallery {
        width: 50%;
        padding-right: 30px;
        background-color: #ccc;
        
        .content {
            height: 100%;
            
            .item {
                // 임시
                height: 1500px;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }
    }
    .info {
        display: flex;
        width: 50%;
        padding-left: 30px;

        .content {
            position: sticky;
            bottom: 0;
            align-self: flex-end;
            max-width: 100%;
        }

        .header {
            width: 460px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .brand {
                font-size: 1.4rem;
                font-weight: 300;
                color: var(--dark-gray);
                margin-bottom: 30px;
            }
            .name {
                font-size: 2.5rem;
                font-weight: 600;
                // height: 148px;
                color: #000;
                margin-bottom: 30px;
            }
            .price {
                font-size: 1.4rem;
                margin-bottom: 30px;
                
                .originPrice {
                    text-decoration: line-through;
                    color: var(--dark-gray);
                    font-weight: 300;
                    
                }
                .totalPrice {
                    span:nth-child(1) {
                        font-size: 2.5rem;
                    }
                }
                .percent {
                    margin-left: 10px;
                    color: var(--color-red);
                }
            }
        }
        .optionBox {
            width: 100%;
            margin-bottom: 30px;

            p {
                font-size: 1.4rem;
                margin-bottom: 30px;
            }
            .imgWrap {
                display: flex;
                gap: 10px;

                .optionList {
                    aspect-ratio: 3/4;
                    width: 173px;
                    border: 1px solid var(--border-gray);
                    cursor: pointer;
    
                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
            }
        }
        .divider {
            border-bottom: 1px solid var(--border-gray);
            margin-bottom: 30px;
        }
        .countBox {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 30px;

            .titleWrap {
                display: flex;
                flex-direction: row;
                align-items: center;

                .tit {
                    width: 80px;
                    font-size: 1.4rem;
                }
                .totalAmount {
                    font-size: 2rem;
                    font-weight: 500;
                }
            }
            .countBtn {
                width: 140px;
                display: flex;
                justify-content: space-between;
                align-items: center;

                .mimus {
                    width: 42px;
                    height: 42px;
                    border-radius: 50%;
                    border: 1px solid var(--border-gray);
                    background-color: #fff;
                    color: var(--dark-gray);
                    cursor: pointer;

                    &:disabled {
                        background-color: #fafafa;
                        border: 1px solid var(--light-gray);
                        cursor: no-drop;
                    }
                }
                .plus {
                    width: 42px;
                    height: 42px;
                    border-radius: 50%;
                    border: 1px solid var(--border-gray);
                    background-color: #fff;
                    color: var(--dark-gray);
                    cursor: pointer;
                }
                p {
                    width: 20px;
                    text-align: center;
                    font-size: 1.2rem;
                }
            }
        }
        .btnBox {
            margin-bottom: 60px;
            width: 100%;
        }
        .delivery {
            margin-bottom: 60px;
            
            .list {
                position: relative;
                width: 100%;
                font-size: 1.2rem;
                letter-spacing: -.91px;

                .tit {
                    position: relative;
                    display: inline-block;
                    width: 80px;
                }
                span:nth-child(2) {
                    position: relative;
                }
                li~li {
                    margin-top: 14px;
                }
            }
        }
    }

    .dummy {
        background-color: #666;
        height: 1000px;
    }
}