.product {
    max-width: 1400px;
    min-height: 1000px;
    margin: 0 auto;

    .section1 {
        display: flex;
        margin-top: 60px;
    }
    
    .gallery {
        width: 50%;
        padding-right: 30px;
        background-color: #ccc;
        
        .content {
            height: 100%;
            
            .item {
                // 임시
                height: 1500px;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }
    }
    .info {
        display: flex;
        width: 50%;
        padding-left: 30px;

        .content {
            position: sticky;
            bottom: 0;
            align-self: flex-end;
            max-width: 100%;
        }

        .header {
            width: 460px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .brand {
                font-size: 1.4rem;
                font-weight: 300;
                color: var(--dark-gray);
                margin-bottom: 30px;
            }
            .name {
                font-size: 2.5rem;
                font-weight: 600;
                color: #000;
                margin-bottom: 30px;
            }
            .price {
                font-size: 1.4rem;
                margin-bottom: 30px;
                
                .originPrice {
                    text-decoration: line-through;
                    color: var(--dark-gray);
                    font-weight: 300;
                    
                }
                .totalPrice {
                    span:nth-child(1) {
                        font-size: 2.5rem;
                    }
                }
                .percent {
                    margin-left: 10px;
                    color: var(--color-red);
                }
            }
        }
        .optionBox {
            width: 100%;
            margin-bottom: 30px;

            p {
                font-size: 1.4rem;
                margin-bottom: 30px;
            }
            .imgWrap {
                display: flex;
                gap: 10px;

                .optionList {
                    aspect-ratio: 3/4;
                    width: 173px;
                    border: 1px solid var(--border-gray);
                    cursor: pointer;
    
                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
            }
        }
        .divider {
            border-bottom: 1px solid var(--border-gray);
            margin-bottom: 30px;
        }
        .countBox {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 30px;

            .titleWrap {
                display: flex;
                flex-direction: row;
                align-items: center;

                .tit {
                    width: 80px;
                    font-size: 1.4rem;
                }
                .totalAmount {
                    font-size: 2rem;
                    font-weight: 500;
                }
            }
            .countBtn {
                width: 140px;
                display: flex;
                justify-content: space-between;
                align-items: center;

                .mimus {
                    width: 42px;
                    height: 42px;
                    border-radius: 50%;
                    border: 1px solid var(--border-gray);
                    background-color: #fff;
                    color: var(--dark-gray);
                    cursor: pointer;

                    &:disabled {
                        background-color: #fafafa;
                        border: 1px solid var(--light-gray);
                        cursor: no-drop;
                    }
                }
                .plus {
                    width: 42px;
                    height: 42px;
                    border-radius: 50%;
                    border: 1px solid var(--border-gray);
                    background-color: #fff;
                    color: var(--dark-gray);
                    cursor: pointer;
                }
                p {
                    width: 20px;
                    text-align: center;
                    font-size: 1.2rem;
                }
            }
        }
        .btnBox {
            margin-bottom: 60px;
            width: 100%;
        }
        .delivery {
            margin-bottom: 60px;
            
            .list {
                position: relative;
                width: 100%;
                font-size: 1.2rem;
                letter-spacing: -.91px;

                .tit {
                    position: relative;
                    display: inline-block;
                    width: 80px;
                }
                span:nth-child(2) {
                    position: relative;
                }
                li~li {
                    margin-top: 14px;
                }
            }
        }
    }
    

    .section2 {

        .tab_menu {
            // 스티키 박스
            position: sticky;
            top: 0;
            z-index: 2;
        }
        .tab_nav {
            display: flex;
            justify-content: space-between;
            align-items: center;
            
            li {
                // 기본 설정
                width: 100%;
                text-align: center;

                &:first-child button {
                    border-left: 1px solid var(--border-gray);
                }
                &:last-child button {
                    border-right: 1px solid var(--border-gray);
                }
                button {
                    outline: none;
                    border: none;
                    width: 100%;
                    height: 60px;
                    background-color: #f8f8f8;
    
                    border-top: 1px solid var(--border-gray);
                    border-bottom: 1px solid var(--color-black);
                    cursor: pointer;

                    span {
                        font-size: 1.3rem;
                    }
                }
            }
            
            .on {

                &:first-child button {
                    border-left: 1px solid var(--color-black);
                }
                &:last-child button {
                    border-right: 1px solid var(--color-black);
                }
                
                button {
                    border-top: 1px solid var(--color-black);
                    border-right: 1px solid var(--color-black);
                    border-left: 1px solid var(--color-black);
                    border-bottom: 1px solid var(--color-white);
                    background-color: #fff;

                    span {
                        font-weight: bold;
                    }
                }
            }
        }
        
        .title {
            position: relative;
            padding-bottom: 20px;
            border-bottom: 1px solid var(--color-black);
            
            h3 {
                font-size: 1.8rem;
                margin-bottom: 10px;
            }
            span {
                display: inline-block;
                width: 70vw;
            }
            button {
                position: absolute;
                right: 0;
                bottom: 0;
                min-width: 90px;
                height: 30px;
                font-size: 12px;
                padding: 0;
                margin-bottom: 20px;
            }
        }
        .tab_first {
            padding-top: 100px;
        }
        .detail_table {
            padding: 20px;
            border-bottom: 1px solid var(--border-gray);
            
            caption {
                // 감추기!
                overflow: hidden;
                width: 1px;
                height: 1px;
                margin-top: -1px;
                padding: 0;
                font-size: 0;
                line-height: 0;
            }
            th {
                width: 180px;
                padding: 8px 0;
                text-align: left;
                font-size: 14px;
                font-weight: 500;
                line-height: 24px;
                vertical-align: top;
            }
            td {
                color: #666;
                padding: 8px 0;
                text-align: left;
                font-size: 14px;
                line-height: 24px;
                vertical-align: top;
            }
        }
        .tab_second {
            padding-top: 100px;

            .detail_review {
                padding: 100px 0;
                text-align: center;
                line-height: 1.5;
                font-size: 14px;
                border-bottom: 1px solid var(--border-gray);
            }
        }
        .tab_third {
            padding-top: 100px;
            margin-bottom: 100px;

            .detail_qna {
                padding: 100px 0;
                text-align: center;
                line-height: 1.5;
                font-size: 14px;
                border-bottom: 1px solid var(--border-gray);
            }
        }
    }
    
}