.summary {
    h3 {
        font-size: 1.7rem;
        margin-bottom: 1rem;
    }
    .text {
        display: flex;
        padding: 5px 0;
        justify-content: space-between;
        align-items: center;
        font-size: 1.5rem;
    }
    .card {
        width: 100%;
        // max-width: 500px;
        padding: 1rem;
        // border-top: 1px solid var(--color-black);
        // border-bottom: 1px solid var(--light-gray);
        border: 1px solid var(--border-gray);
        border-radius: 10px;
        font-size: 1.3rem;
        line-height: 2;
        margin-bottom: 5px;
    }
    .divider {
        border-top: 1px solid var(--light-gray);
    }
    .textWrap {
        padding: 1rem;
        margin-bottom: 1rem;
    }
}