.admin {
    display: flex;

    .navbar {
        width: 15%;
        min-height: 100vh;
        background-color: #f3f7fd;
    }
    .content {
        width: 85%;
        padding: 2rem;
        background-color: #fafbff;
    }
}