.navbar {
    border-right: 1px solid var(--border-gray);
    height: 100%;
    min-height: 88vh;
    
    .active {
        color: var(--color-primary);
    }
    .user {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 4rem;
        // background-color: var(--color-primary);
        background-color: rgb(0, 153, 255, 0.7);

        h4 {
            text-transform: capitalize;
            margin-top: 1rem;
            font-size: 1.7rem;
            color: var(--color-white);
        }
    }
    nav ul {
        li {
            position: relative;
            border-bottom: 1px solid var(--border-gray);
            
            span {
                margin-left: 20px;
            }
        }
        a {
            display: block;
            width: 100%;
            font-size: 1.5rem;
            padding: 1rem 2rem;
        }
    }
}