.admin {
    display: flex;
    width: 100%;

    .navbar {
        min-width: 256px;
        min-height: 100vh;
        background-color: #f3f7fd;
    }
    .content {
        width: 100%;
        padding: 2rem;
        background-color: #fafbff;
    }
}