.navbar {
    position: fixed;
    border-right: 1px solid var(--border-gray);
    width: 256px;
    height: 100%;
    // min-height: 88vh;
    
    .logo {
        padding-top: 3.8rem;
        padding-left: 2rem;
    }
    .navCategory {
        padding-top: 3.8rem;
        padding-left: 2rem;
        padding-bottom: 2rem;
        font-size: 1.6rem;

        h3 {
            font-weight: 500;
        }
    }
    .active {
        color: rgb(0, 153, 255);
    }
    .user {
        display: flex;
        align-items: center;
        flex-direction: row;
        gap: 15px;
        padding: 1rem 2rem;
        background-color: rgb(0, 153, 255, 0.7);

        h4 {
            text-transform: capitalize;
            font-size: 1.5rem;
            font-weight: 500;
            color: var(--color-white);
        }
    }
    nav ul {
        li {
            position: relative;
            border-bottom: 1px solid var(--border-gray);
            
            span {
                margin-left: 20px;
            }

            &:first-child {
                border-top: 1px solid var(--border-gray);
            }
        }
        a {
            display: block;
            width: 100%;
            font-size: 1.5rem;
            padding: 1rem 2rem;
        }
    }
    .exit {
        position: absolute;
        bottom: 0;
        width: 100%;
        padding: 3rem 2rem;

        span {
            margin-left: 20px;
            font-size: 1.5rem;
        }
    }
}