.table {
    width: 1020px;
    margin: 3rem auto;
    min-height: 44.6vh;

    .emptyText {
        font-size: 2rem;
        padding-bottom: 3rem;
    }
    table {
        border-collapse: collapse;
        text-align: center;
        vertical-align: middle;
        width: 100%;

        thead {
            border-top: 1px solid var(--color-black);
            border-bottom: 1px solid var(--border-gray);
            width: 100%;
            height: 50px;
            font-size: 1.2rem;
            
            th {
                font-weight: normal;
                padding: 8px;
            }
        }
        tbody {
            font-size: 1.2rem;

            tr {
                border-bottom: 1px solid var(--light-gray);
            }
            td {
                padding: 8px;
            }
            .cell_pd {
                display: flex;
                flex-direction: row-reverse;
                justify-content: space-around;
                align-items: center;

                .name {
                    width: 300px;
                    text-align: left;
                    overflow-wrap: break-word;
                    
                    p + p {
                        margin-top: 5px;
                    }
                }
                .img {
                    width: 80px;
                    height: 120px;
                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
            }
            .cell_price {
                font-size: 1.4rem;
                width: 140px;
            }
        }
    }
    .summary {
        margin-top: 2rem;
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 30px;

        .checkout {
            display: flex;
            width: 100%;
            height: 120px;
            justify-content: center;
            align-items: center;
            background-color: #eee;
            border-radius: 10px;

            .text {
                // width: 150px;
                font-size: 1.2rem;
                margin-left: 10px;

                p {
                    margin-bottom: 5px;
                }
                span {
                    b {
                        font-size: 2rem;
                        font-weight: 500;
                    }
                }
            }
            .icons {
                width: 44px;
                height: 44px;
            }
        }
        .buttonwrap {
            display: flex;
            gap: 10px;
        }
    }
}
.divider {
    width: 1px;
    height: 30px;
    margin: 0 30px;
    background-color: #ccc;
}

.count {
    display: flex;
    align-items: center;
    justify-content: space-between;


    button {
        border: 1px solid var(--border-gray);
        border-radius: 50%;
        width: 20px;
        height: 20px;
        background-color: transparent;
        cursor: pointer;

        &:hover {
            background-color: #eeeeee;
        }
    }
}