.table {
    width: 1020px;
    margin: 3rem auto;
    min-height: 44.6vh;

    .emptyText {
        font-size: 2rem;
        padding-bottom: 3rem;
    }
    table {
        border-collapse: collapse;
        text-align: center;
        vertical-align: middle;
        width: 100%;

        thead {
            border-top: 1px solid var(--color-black);
            border-bottom: 1px solid var(--border-gray);
            width: 100%;
            height: 50px;
            font-size: 1.2rem;
            
            th {
                font-weight: normal;
            }
        }
        tbody {
            tr {
                border-bottom: 1px solid var(--border-gray);
            }
            tr:nth-child(even) {
                background-color: var(--table-border-gray);
            }
            td {
                padding: 8px;
    
                &.icons {
                    // margin-right: 5px;
                    cursor: pointer;
                }
            }
            .cell_pd {
                // text-align: left;
                display: flex;
                align-items: center;
                flex-direction: row;
                p {
                    // display: inline-block;
                    width: 300px;
                    text-align: left;
                    overflow-wrap: break-word;
                }
                img {
                    // float: left;
                }
            }
            .cell_price {
                width: 100px;
            }
        }
    }
    .summary {
        margin-top: 2rem;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;

        .text {
            display: flex;
            justify-content: space-between;
            line-height: 2.5rem;

            h4 {
                font-size: 1.3rem;
            }
            p {
                font-size: 1.2rem;
            }
        }
    }
}

.count {
    display: flex;
    align-items: center;
    justify-content: space-between;


    button {
        border: 1px solid var(--border-gray);
        border-radius: 50%;
        width: 20px;
        height: 20px;
        background-color: transparent;
        cursor: pointer;
    }
    &>* {
        // margin-right: 1rem;
    }
}