.slider {
    width: 100%;
    // max-width: 500px;
    margin: 0 auto;
    margin-top: 3rem;
    overflow: hidden;

    .heading {
        color: #000;
        
        .title {
            font-size: 2.5rem;
            font-weight: 300;
            padding-bottom: 20px;
        }
        .subtitle {
            font-size: 1.4rem;
            padding-bottom: 20px;
        }
    }

    .container {
        margin-top: 30px;
    

        .item {
            width: 157px;
            
            .thumb {
                background-color: #ccc;    
                height: 200px;
                
                img {
                    -webkit-user-drag: none;
                    -webkit-user-select: none;
                    user-select: none;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
            .info {
                position: relative;
                margin-top: 12px;
                overflow-wrap: break-word;
                word-break: keep-all;
                white-space: normal;
        
                .brand {
                    font-size: 1.4rem;
                    margin-bottom: 3px;
                }
                .name {
                    font-size: 1.2rem;
                    max-height: 37px;
                    margin-bottom: 3px;
                    font-weight: 300;
                    color: rgb(86, 86, 86);
                    display: -webkit-box;
                    -webkit-line-clamp: 2;
                    -webkit-box-orient: vertical;
                    text-overflow: ellipsis;
                    overflow: hidden;
                }
                .priceBox {
                    margin-bottom: 8px;
                    
                    .originPrice {
                        font-size: 12px;
                        font-weight: 300;
                        color: rgb(137, 137, 137);
                        text-decoration-line: line-through;
                        margin-bottom: 1px;
                    }
                    .salePrice {
                        display: flex;
                        flex-direction: row-reverse;
                        flex-wrap: wrap;
                        justify-content: flex-end;
        
                        .discount {
                            font-size: 15px;
                            font-weight: 700;
                            color: var(--color-red);
                        }
                        .totalPrice {
                            font-size: 15px;
                            font-weight: 700;
                            color: rgb(86, 86, 86);
                            margin-right: 10px;
                        }
                    }
                }
            }
        }
    }
}

.mobileSwiper {
    display: none;
}
.desktopSwiper {
    display: block;

    .gridbox {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-items: stretch;
        grid-gap: 14px;
        grid-row-gap: 97px;
    }
}

// 미디어쿼리
@import '../../../styles/mixin';

@include mobile {
    .desktopSwiper {
        display: none;
    }
    .mobileSwiper {
        display: block;
    }
}