.title {
    display: inline-block;
    width: 100%;
    border-bottom: 1px solid var(--border-gray);
    margin-bottom: 50px;
}
.order {
    width: 100%;
    max-width: 936px;
    margin: 0 auto;
    border-radius: 10px;
    background-color: var(--color-white);
    box-shadow: 0 1px 2px 0 rgba(105, 105, 105, 0.301),0 1px 3px 1px rgba(85, 85, 85, 0.2);
    padding: 2rem 3rem;
}
.emptyText {
    font-size: 2rem;
    text-align: center;
    margin: 30px 0;
}
.table {
    padding: 5px;
    width: 100%;
    
    table {
        border-collapse: collapse;
        width: 100%;
        font-size: 1.4rem;
        text-align: left;

        thead {
            border-top: 1px solid var(--color-black);
            border-bottom: 1px solid var(--border-gray);
            width: 100%;
            height: 50px;
            font-size: 1.2rem;
            
            th {
                padding: 8px;
                text-wrap: nowrap;
                font-weight: normal;
                text-align: left;
            }
        }
        td {
            vertical-align: top;
            padding: 10px;
            font-size: 1.2rem;

            &.icons {
                margin-right: 5px;
                cursor: pointer;
            }
        }
        tr {
            border-bottom: 1px solid var(--border-gray);
            cursor: pointer;
        }
        tr:nth-child(even) {
            background-color: var(--table-border-gray);
        }
    }
    .pending {
        color: #4385F4;
        font-weight: 500;
    }
    .delivered {
        color: green;
        font-weight: 500;
    }
}