.slider {
    width: 100%;
    max-width: 1640px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    background-color: var(--color-dark);

    .mainSwiper {
        border-radius: 0 30px;
        margin: 2.5rem;

        picture {
            display: block;
            height: 560px;
            
            img {
                object-fit: cover;
                width: 100%;
                height: 100%;
            }
        }
    }

    // 1. 타이틀 영역
    .titWrap {
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-left: 20px;
        color: #fff;
        
        span {
            padding: 3rem 2rem;
            font-size: 1.4rem;
        }
        .titInner {
            padding: 0 2rem 3rem;
            max-width: 450px;
            
            .title {
                font-size: 2.5rem;
                margin-bottom: 20px;
                word-break: keep-all;
            }   
            .description {
                font-size: 1.4rem;
            }
        }
    }

    // 2. 네비게이션 영역
    .navWrap {
        display: flex;
        max-width: 150px;
        margin: 0 auto;
        align-items: center;
        justify-content: space-between;
        gap: 10px;

        // 버튼
        .swiperBtn {
            border: 0;
            background-color: transparent;
            background-size: 100% auto ;
            background-repeat: no-repeat;
            object-fit: cover;
        }
        .prevBtn {
            cursor: pointer;
            width: 32px;
            height: 32px;
            
            &::after {
                content: '';
                display: inline-block;
                width: 19px;
                height: 12px;
                background-repeat: no-repeat;
                background-image: url(../../../assets/icon_navi_arrow_left_disabled.svg);
                vertical-align: middle;
            }
            &:hover::after {
                background-image: url(../../../assets/icon_navi_arrow_left_active.svg);
                transform: rotateY(180deg);
            }
        }
        .nextBtn {
            cursor: pointer;
            width: 32px;
            height: 32px;
            transform: rotateY(180deg);

            &::after {
                content: '';
                display: inline-block;
                width: 19px;
                height: 12px;
                background-repeat: no-repeat;
                background-image: url(../../../assets/icon_navi_arrow_left_disabled.svg);
                vertical-align: middle;
            }
            &:hover::after {
                background-image: url(../../../assets/icon_navi_arrow_left_active.svg);
                transform: rotateY(180deg);
            }            
        }
    }
    // 3. 페이지네이션 영역
    .pagination {
        font-size: 2rem;

        span {
            display: inline-block;
            width: 1.5rem;
        }
        .divider {
            height: 1px;
            margin-right: 5px;
            vertical-align: middle;
            background: #000;
            transform: rotate(120deg) translate(-10%, 50%);
        }
    }
}