.product {
    position: relative;
    display: flex;
    max-width: 1500px;
    // max-width: 1640px;
    justify-content: space-between;
    margin: 0 auto;
    padding: 20px;

    .filter {
        min-width: 230px;
    }
    .content {
        position: relative;
        // width: 1400px;
        padding-left: 40px;
    }
    
}

