.product {
    position: relative;
    display: flex;
    max-width: 1640px;
    margin: 0 auto;
    padding: 20px;

    .filter {
        // width: 20%;
        width: 230px;
        // transition: all .3s;
    }
    .content {
        position: relative;
        // width: 1400px;
        padding-left: 40px;
    }
    
}

