.wrapper {
    width: 100%;
    max-width: 1640px;
    margin: 0 auto;
    display: grid;
    grid-gap: 70px;
    grid-template-columns: repeat(auto-fit, minmax(400px, auto));
    grid-auto-flow: dense;
    justify-content: space-between;
}