.product {
    position: relative;
    display: flex;
    max-width: 1400px;
    // max-width: 1640px;
    justify-content: space-between;
    margin: 0 auto;
    padding: 20px;

    .filter {
        min-width: 230px;
    }
    .content {
        position: relative;
        padding-left: 40px;
        width: 100%;
    }
    
}

// 미디어쿼리
@import '../../styles/mixin';

@include mobile {
    .product {
        flex-direction: column;

        .content {
            padding-left: 0;
        }
    }
}
@include tablet {
    .product {
        flex-direction: column;

        .content {
            padding-left: 0;
        }
    }
    
}
@include desktop {
    
}