.wrapper {
    padding: 1rem 0;
    
    .center {
        text-align: center;
    }
    .title {
        font-size: 2.5rem;
        font-weight: 600;
    }
    .subtitle {
        margin-top: 1rem;
        font-size: 1.6rem;
    }
}