:root {
  --font-family: sans-serif;

  --dark-blue: #0a1930;
  --light-blue: #1f93ff;

  --light-gray: #E7E7E7;
  --dark-gray: #767676;
  --border-gray: #CCCCCC;
  --table-border-gray: #f8f8f8;

  --color-white: #FFFFFF;
  /* --color-primary: #7a0303; */
  --color-primary: #000;

  --color-black: #111111;
  --color-red: #E52528;

  --box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

html {
  font-size: 12px;
  /* 추후에 아래 제거 */
  /* overflow-x: hidden; */
}

body {
  font-family: var(--font-family);
  /* 추후에 아래 제거 */
  /* overflow-x: hidden; */
}

a {
  color: inherit;
  text-decoration: none;
}

ul, ol {
  list-style: none;
}

img, svg {
  border: none;
  vertical-align: top;
}

/* 마진,패딩 초기화 */
html,body,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,figure,p,blockquote{
  margin: 0;
  padding: 0;
}
