.page {
    height: 100vh;
    display: grid;
    place-items: center;

    .container {
        width: 576px;

        .logo {
            text-align: center;
            margin-bottom: 50px;
        }
        .form {
            display: flex;
            flex-flow: column;
            width: 100%;
            max-width: 576px;

            .control {
                margin-bottom: 20px;
            }
            .group {
                display: flex;
                justify-content: space-between;
                margin-top: 2px;

                .findLink {
                    color: var(--color-primary);
                    text-decoration: none;
                    font-size: 1.2rem;
                }
                .findLinkArrow {
                    margin-left: 6px;
                    vertical-align: -3px;
                }
            }
            .buttonGroup {
                margin: 2rem 0;

                button {
                    margin-bottom: 10px;
                }
            }
        }
        .testBox {
            font-size: 1rem;
            line-height: 1.4;
            padding: 0.8rem;
            text-align: right;
            background-color: #ebebeb;
            border-radius: 5px;
        }
    }
    
}