.innerNav {
    display: none;
    width: 100%;
    height: 32px;
    background: #fff;
    border-bottom: 1px solid var(--border-gray);

    .wrap {
        max-width: 1640px;
        margin: 0 auto;
        
        .menubar {
            display: flex;
            gap: 20px;
            font-size: 1.2rem;
            font-weight: 600;
    
            li:nth-child(1) {
                margin-left: 25px;
            }
        }
    }

}


@import '../../styles/mixin';

@include mobile {
    .innerNav {
     display: block;
    }
}
