.item {
    min-width: 22rem;
    background-color: var(--color-white);
    // margin: 5px;
    // height: 32rem;
    position: relative;
    margin-bottom: 40px;
    // border: 1px solid var(--color-red);

    &:hover {

    }

    .thumb {
        width: 100%;
        aspect-ratio: 1/1.2;
        overflow: hidden;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            cursor: pointer;
        }
    }
    .info {
        position: relative;
        padding: 10px;
        overflow-wrap: break-word;
        word-break: keep-all;
        white-space: normal;

        .brand {
            font-size: 1.4rem;
            margin-bottom: 3px;
        }
        .name {
            font-size: 1.2rem;
            max-height: 37px;
            margin-bottom: 3px;
            font-weight: 300;
            color: rgb(86, 86, 86);
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            text-overflow: ellipsis;
            overflow: hidden;
        }
        .priceBox {
            margin-bottom: 8px;
            
            .originPrice {
                font-size: 12px;
                font-weight: 300;
                color: rgb(137, 137, 137);
                text-decoration-line: line-through;
                margin-bottom: 1px;
            }
            .salePrice {
                display: flex;
                flex-direction: row-reverse;
                flex-wrap: wrap;
                justify-content: flex-end;

                .discount {
                    font-size: 15px;
                    font-weight: 700;
                    color: var(--color-red);
                }
                .totalPrice {
                    font-size: 15px;
                    font-weight: 700;
                    color: rgb(86, 86, 86);
                    margin-right: 10px;
                }
            }
        }
    }
}