.title {
  display: inline-block;
  width: 100%;
  border-bottom: 1px solid var(--border-gray);
  margin-bottom: 50px;
}
.product {
    max-width: 936px;
    margin: 0 auto;
    border-radius: 10px;
    background-color: var(--color-white);
    box-shadow: 0 1px 2px 0 rgba(105, 105, 105, 0.301),0 1px 3px 1px rgba(85, 85, 85, 0.2);
    padding: 2rem 3rem;
    
    .card {
      width: 100%;
      max-width: 500px;
      padding: 1rem;
    }
    form {
      label {
        display: block;
        font-size: 1.4rem;
        font-weight: 500;
      }
      input[type="text"],
      input[type="number"],
      input[type="file"],
      input[type="email"],
      select,
      textarea,
      input[type="password"] {
        display: block;
        font-size: 1.6rem;
        font-weight: 300;
        padding: 1rem;
        margin: 1rem auto;
        width: 100%;
        border: 1px solid var(--border-gray);
        border-radius: 3px;
        outline: none;
      }
  
      .progress {
        background-color: #aaa;
        border: 1px solid transparent;
        border-radius: 10px;
        .progress-bar {
          background-color: var(--light-blue);
          border: 1px solid transparent;
          border-radius: 10px;
          color: var(--color-white);
          font-size: 1.2rem;
          font-weight: 500;
          padding: 0 1rem;
        }
      }
    }
  }
  
  