.order {
    width: 1020px;
    margin: 3rem auto;
    min-height: 44.6vh;

    table {
        border-collapse: collapse;
        width: 100%;
        font-size: 1.4rem;
        thead {
            border-top: 1px solid var(--color-black);
            border-bottom: 1px solid var(--border-gray);
            width: 100%;
            height: 50px;
            font-size: 1.2rem;
            
            th {
                padding: 8px;
                text-wrap: nowrap;
                font-weight: normal;
                text-align: left;
            }
        }
        td {
            vertical-align: top;
            padding: 10px;
            font-size: 1.2rem;

            &.icons {
                margin-right: 5px;
                cursor: pointer;
            }
        }
        tr {
            border-bottom: 1px solid var(--border-gray);
            cursor: pointer;
        }
        tr:nth-child(even) {
            background-color: var(--table-border-gray);
        }
    }
    .pending {
        color: #4385F4;
        font-weight: 500;
    }
    .delivered {
        color: green;
        font-weight: 500;
    }
}