.item {
    width: 100%;
    margin-bottom: 1rem;

    h4 {
        color: #777777;
        font-size: 1.4rem;
        font-weight: 400;
        padding-bottom: 5px;
    }
    span {
        display: flex;
        justify-content: space-between;
        align-items: center;

        h3 {
            font-size: 1.8rem;
            font-weight: 600;
        }
    }
}