.contact {

    .grid {
        display: grid;
        grid-template-columns: repeat(2,minmax(0,1fr));

        .cols {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
            // max-width: 400px;
            padding: 5rem 0;
            margin: 0 auto;
            text-align: center;
            background-color: #fff;
            border-top: 1px solid var(--border-gray);
            
            h3 {
                font-size: 1.8rem;
                font-weight: 500;
                text-transform: uppercase;
                padding-bottom: 20px;
            }
            p {
                font-size: 14px;
                font-weight: 300;
                line-height: 1.75;
            }
            .inputBox {
                display: flex;
                flex-direction: column;
                margin: 3rem 0;
            }
            form {
                width: 100%;

                label {
                    font-size: 12px;
                    font-weight: 500;
                    margin-bottom: 10px;
                    color: #5f5f5f;
                }
                input {
                    font-size: 14px;
                    padding: 1rem;
                    text-align: center;
                    border: 1px solid var(--border-gray);
                    border-radius: 5px;
                }
            }
            .errorMessage {
                display: flex;
                justify-content: center;
                gap: 10px;
                margin: 15px 0;
                color: var(--color-red);

                &::before {
                    content: 'X';
                }
            }
        }
        .col1 {
            border-right: 1px solid var(--border-gray);

        }
        .col2 {
            background-color: #f8f8f8;
            justify-content: space-between;

            button {
                margin: 20px;
            }
            .help {
                padding: 2rem;
                text-decoration: underline;
            }
            .tel {
                padding: 1rem;
                margin-bottom: 10px;

                i {
                    margin-right: 10px;
                }
            }
        }
    }
}

.info {
    padding: 60px 40px;
    border-top: 1px solid var(--border-gray);

    .wrapper {
        display: flex;
        max-width: 1640px;
        margin: 0 auto;
        padding: 0 25px;
        justify-content: space-between;
        
        .menuwrap {
            width: 300px;
        }
        .title {
            padding: 10px 0;
            font-size: 16px;
            text-transform: uppercase;
            font-weight: 600;
        }
        .menuitem {
            padding: 10px 0;
            font-size: 14px;
            font-weight: 300;
            color: #5f5f5f;

            i {
                margin-right: 10px;
                color: #000;
                vertical-align: middle;
            }
        }
    }
}

// 미디어쿼리
@import '../../styles//mixin';

@include mobile {
    .contact {
        .grid {
            grid-template-columns: auto;
    
            .col1 {
                border-right: 0;
                .inner {
                    margin: 0 2.5rem;
                }
            }
        }
    }
    .info {
        padding: 0;

        .wrapper {
            padding: 0;
            flex-direction: column;

            .menuwrap {
                padding: 0 2.5rem;
                width: 100%;
                border-bottom: 1px solid #ccc;
                cursor: pointer;
            }
            .title {
                position: relative;
                padding: 20px 0;

                &::before {
                    content: '+';
                    height: 12px;
                    width: 13px;
                    display: inline-block;
                    right: 0;
                    position: absolute;
                }
            }
            ul {
                height: 0;
                overflow: hidden;
            }
        }
    }
}