.footer {
    background: #f3f3f3;

    .wrapper {
        display: flex;
        max-width: 1620px;
        margin: 0 auto;
        justify-content: space-between;
        
        .menuwrap {
            width: 200px;
        }
        .title {
            padding: 5px;
            font-size: 1.4rem;
            text-transform: uppercase;
        }
        .menulist {
        }
        .menuitem {
            padding: 5px;
            font-size: 1.2rem;
            font-weight: 300;
            color: #5f5f5f;
        }
    }
}