.contact {
    background: #f3f3f3;
    padding: 60px 40px;

    .grid {
        display: grid;
        grid-template-columns: repeat(2,minmax(0,1fr));

        .col {
            display: flex;
            flex-direction: column;
            align-items: center;
            max-width: 400px;
            margin: 0 auto;
            text-align: center;
            
            h3 {
                font-size: 1.75rem;
                font-weight: 300;
                text-transform: uppercase;
                padding-bottom: 20px;
            }
            p {
                font-size: 14px;
                font-weight: 300;
                line-height: 1.75;
            }
            .inputBox {
                display: flex;
                flex-direction: column;
                margin: 3rem 0;
            }
            form {
                width: 100%;

                label {
                    font-size: 12px;
                    font-weight: 500;
                    margin-bottom: 10px;
                    color: #5f5f5f;
                }
                input {
                    font-size: 14px;
                    padding: 1rem;
                    text-align: center;
                    border: 1px solid var(--light-gray);
                }
            }
            .errorMessage {
                display: flex;
                justify-content: center;
                gap: 10px;
                margin: 15px 0;
                color: var(--color-red);

                &::before {
                    content: 'X';
                }
            }
        }
    }
}

.info {
    padding: 60px 40px;
    border-top: 1px solid #e5e7eb;

    .wrapper {
        display: flex;
        max-width: 1620px;
        margin: 0 auto;
        justify-content: space-between;
        
        .menuwrap {
            width: 300px;
        }
        .title {
            padding: 10px;
            font-size: 16px;
            text-transform: uppercase;
            font-weight: 300;
        }
        .menuitem {
            padding: 10px;
            font-size: 14px;
            font-weight: 300;
            color: #5f5f5f;

            i {
                margin-right: 10px;
                color: #000;
                vertical-align: middle;
            }
        }
    }
}