.wrapper {
    width: 100%;
    max-width: 1640px;
    margin: 0 auto;
    display: grid;
    grid-column-gap: 50px;
    grid-row-gap: 100px;
    grid-template-columns: repeat(auto-fit, minmax(400px, auto));
    grid-auto-flow: dense;
    justify-content: space-between;

    padding: 0 2.5rem;
}

// 미디어쿼리
@import '../../styles/mixin';

@include mobile {
    .wrapper {
    }
}
@include tablet {
    .wrapper {
        grid-column-gap: 3rem;
        // grid-template-columns: repeat(3, 500px);
    }
}
@include desktop {
    .wrapper {
        // grid-column-gap: 50px;
        // grid-template-columns: repeat(3, 500px);
    }
}