.slider {
    width: 100%;
    max-width: 1640px;
    margin: 0 auto;
    height: 50vh;
    position: relative;
    overflow: hidden;
    background-color: var(--color-dark);

    .mySwiper {
        background-color: red;
    }
}