.table {
    max-width: 1020px;
    margin: 3rem auto;
    min-height: 44.6vh;

    .emptyText {
        padding: 100px 0;
        
        &::before {
            content: '';
            display: block;
            width: 54px;
            height: 64px;
            margin: 0 auto 30px;
        }
    }
    .details {
        font-size: 1.3rem;
        padding: 1rem 0;
        line-height: 1.7;
        margin-bottom: 15px;

        b {
            margin-right: 10px;
        }
    }
    table {
        border-collapse: collapse;
        text-align: center;
        vertical-align: middle;
        width: 100%;

        thead {
            border-top: 1px solid var(--color-black);
            border-bottom: 1px solid var(--border-gray);
            width: 100%;
            height: 50px;
            font-size: 1.2rem;
            
            th {
                font-weight: normal;
                padding: 8px;
                text-wrap: nowrap;
            }
        }
        tbody {
            font-size: 1.2rem;

            tr {
                border-bottom: 1px solid var(--light-gray);
            }
            td {
                padding: 8px;
            }
            .cell_pd {
                display: flex;
                flex-direction: row-reverse;
                justify-content: space-around;
                align-items: center;

                .name {
                    width: 280px;
                    text-align: left;
                    overflow-wrap: break-word;
                    
                    p + p {
                        margin-top: 5px;
                    }
                }
                .img {
                    width: 80px;
                    height: 120px;
                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
            }
            .cell_price {
                font-size: 1.4rem;
                width: 140px;
            }
        }
    }
}
.divider {
    width: 1px;
    height: 30px;
    margin: 0 30px;
    background-color: #ccc;
}

.count {
    display: flex;
    align-items: center;
    justify-content: space-between;


    button {
        border: 1px solid var(--border-gray);
        border-radius: 50%;
        width: 20px;
        height: 20px;
        background-color: transparent;
        cursor: pointer;

        &:hover {
            background-color: #eeeeee;
        }
    }
}

// 미디어쿼리
@import '../../../../styles/mixin';

@include mobile {
    .table {
        padding: 0 2.5rem;

        table {
            tbody {
                td {
                    padding: 0;
                }
                .cell_pd {
                    gap: 10px;
                    justify-content: flex-end;
        
                    .name {
                        width: auto;
                        min-width: 80px;
                        font-size: 1rem;
                        word-break: break-all;

                        display: -webkit-box;
                        -webkit-line-clamp: 2;
                        -webkit-box-orient: vertical;
                        text-overflow: ellipsis;
                        overflow: hidden;
                    }
                    .img {
                        min-width: 50px;
                        width: auto;
                        height: 80px;
                    }
                }
                .cell_price {
                    font-size: 1rem;
                    width: auto;
                    .count {
                        width: 100%;
                        gap: 10px;
                    }
                }
                .icons {
                    button {
                        width: 60px;
                        height: 40px;
                        font-size: 1rem;
                        text-wrap: nowrap;
                    }
                }
            }
        }
    }
}
@include tablet {
    .table {
        padding: 0 2.5rem;
    }
}